<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.symphonia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Listener_Register.SignUp5Activity"
            android:label="@string/create_account"
            android:parentActivityName=".Listener_Register.SignUp4Activity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Listener_Register.SignUp4Activity" />
        </activity>

        <activity
            android:name=".Listener_Register.SignUp4Activity"
            android:label="@string/create_account"
            android:parentActivityName=".Listener_Register.SignUp3Activity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Listener_Register.SignUp3Activity" />
        </activity>

        <activity
            android:name=".Listener_Register.SignUp3Activity"
            android:label="@string/create_account"
            android:parentActivityName=".Listener_Register.SignUp2Activity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Listener_Register.SignUp2Activity" />
        </activity>
        <activity
            android:name=".Listener_Register.SignUp2Activity"
            android:label="@string/create_account"
            android:parentActivityName=".Listener_Register.SignUp1Activity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Listener_Register.SignUp1Activity" />
        </activity>
        <activity
            android:name=".Listener_Register.SignUp1Activity"
            android:label="@string/create_account"
            android:parentActivityName=".Listener_Register.WelcomeListenerActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Listener_Register.WelcomeListenerActivity" />
        </activity>
        <activity
            android:name=".Artist_Register.LoginArtistActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Artist_Register.WelcomeArtistActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Listener_Register.WelcomeListenerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddArtistsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreatePlaylistActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PlayActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Listener_Register.LoginListenerActivity"
            android:label=""
            android:parentActivityName=".Listener_Register.WelcomeListenerActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>