<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.symphonia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Helpers.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_splash"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.UserUI.ArtistsSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.User_Management.ArtistPages.EmailCheckArtistActivity"
            android:label="@string/check_email"
            android:parentActivityName=".Activities.User_Management.ArtistPages.ForgetPasswordArtistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.UserUI.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.User_Management.ListenerPages.EmailCheckListenerActivity"
            android:label="@string/check_email"
            android:parentActivityName=".Activities.User_Management.ListenerPages.ForgetPasswordListenerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.UserUI.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.User_Management.ListenerPages.ForgetPasswordListenerActivity"
            android:label="@string/forgot_password"
            android:parentActivityName=".Activities.User_Management.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.UserUI.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.User_Management.SignUp.SignUp5"
            android:label="@string/create_account"
            android:parentActivityName=".Activities.User_Management.SignUp.SignUp4"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.User_Management.SignUp.SignUp4" />
        </activity>
        <activity
            android:name=".Activities.User_Management.SignUp.SignUp4"
            android:label="@string/create_account"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.User_Management.SignUp.SignUp3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.User_Management.SignUp.SignUp3" />
        </activity>
        <activity
            android:name=".Activities.User_Management.SignUp.SignUp3"
            android:label="@string/create_account"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.User_Management.SignUp.SignUp2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.User_Management.SignUp.SignUp2" />
        </activity>
        <activity
            android:name=".Activities.User_Management.SignUp.SignUp2"
            android:label="@string/create_account"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.User_Management.SignUp.SignUp1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.User_Management.SignUp.SignUp1" />
        </activity>
        <activity
            android:name=".Activities.User_Management.SignUp.SignUp1"
            android:label="@string/create_account"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.User_Management.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.User_Management.WelcomeActivity" />
        </activity>
        <activity
            android:name=".Activities.User_Management.WelcomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.UserUI.AddArtistsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.UserUI.CreatePlaylistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.UserUI.PlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.User_Management.LoginActivity"
            android:label=""
            android:parentActivityName=".Activities.User_Management.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.UserUI.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.UserUI.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.UserUI.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Activities.UserUI.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>